a,a:hover{
    color: #fff;
}
.row-one{
    background:#00ae66;
    color: #fff;
    height: 42px;
}
.row-one div:nth-child(2){
    margin-top: 10px;
}
.row-one div:nth-child(3){
    padding-top: 2px;
}
.row-three{
    padding: -15px;
}
.row-three div{
    border: 1px solid #c5c5c5;
    border-right: none;
    height: 40px;
    line-height: 40px;
}
.row-three div:first-child{
    border-left: none;
}
/*第四部分- 热门房源*/
.hot-rooms > .hot-header{
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
}
.hot-rooms > .hot-list > .media{
    padding: 5px 11px;
}
.hot-rooms > .hot-list .media-heading{
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 16px;
}
.hot-rooms > .hot-list .media-body > p{
    margin: 0;
    font-size: 12px;
}
.hot-rooms > .hot-list .media-body .label{
    display: inline-block;
    margin-top: 4px;
}
.row-four{
    padding: 6px;
    color: #fff;
    font-weight: bold;
    height: 60px;
    background: rgba(46,40,35,0.7);
}
.row-four span{
    display: inline-block;
    width: 70px;
    height:35px;
    background: #00ae66;
    border-radius: 5px;
    line-height:35px;
    text-align: center;
}