/* CSS Document */
*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";}
#main{
	height:88px;
	background:url(../images/topbg.gif) repeat-x;}
#one a{
	display:block;
	width:289px;
	height:88px;
	text-decoration:none;}
#six a:hover{
	color:#FFF;}
#two a:hover{
	background:#EB5409;}
#three a:hover{
	background:#EB5409;}
#four a:hover{
	background:#EB5409;}
#five a:hover{
	background:#EB5409;}
a{
	display:block;
	width:92px;
	height:88px;
	text-decoration:none;}
#one{
	width:289px;
	height:88px;
	float:left;
	background:url(../images/topleft.jpg) no-repeat;}
#one img{
	position:relative;
	top:10px;
	left:10px;}
#two{
	width:92px;
	height:88px;
	float:left;
	background:url(../images/navbg.png) no-repeat;}
#two img{
	position:relative;
	top:10px;
	left:23px;}
.p1{
	position:relative;
	top:14px;
	left:17px;
	font-size:14px;
	color:#FFF;}
#three{
	width:92px;
	height:88px;
	float:left;}
#three img{
	position:relative;
	top:10px;
	left:23px;}
#four{
	width:92px;
	height:88px;
	float:left;}
#four img{
	position:relative;
	top:10px;
	left:23px;}
#five{
	width:92px;
	height:88px;
	float:left;}
#five img{
	position:relative;
	top:10px;
	left:23px;}
#six{
	width:167px;
	height:88px;
	float:right;
	background:url(../images/topright.jpg) no-repeat;}
#six a{
	margin-right:10px;
	display:inline;
	font-size:13px;
	color:#FFD6AF;
	position:relative;
	top:15px;}
#six img{
	position:relative;
	top:15px;
	right:5px;}
#six .bangzhu{
	position:relative;
	top:18px;
	left:5px;}
#six .anniu{
	position:relative;
	top:20px;
	right:10px;
	width:160px;
	height:30px;
	border-radius:15px;
	background:rgba(0,0,0,0.2) none repeat scroll 0 0 !important;}
#p2{
	color:#FFF;
	font-size:13px;
	position:relative;
	bottom:6px;
	left:25px;}
#six .anniu img{
	position:relative;
	left:8px;
	top:10px;}
#seven{
	position:relative;
	left:125px;
	bottom:25px;
	width:20px;
	height:20px;
	background:#FF9C0F;
	text-align:center;
	color:#FFF;
	border-radius:5px;}










